.features {
    padding-top: 90px;
    padding-bottom: 90px;
}

.features > .container > .row {
    align-items: center;
}

.features > .container > .row > div > img {
    width: 100%;
}

.features > .container > .row > div > h2 {
    font-weight: 700;
    color: #143354;
    margin-bottom: 70px;
}