.Contact {
    background: linear-gradient(to right, #436fea, 60%, #51b7e0);
    padding-top: 70px;
    padding-bottom: 70px;
    color: white;
}

.Contact h6 {
    color: white !important;
}

.Contact p {
    color: rgba(15,50,86,0.7);
    display: inline-block;
    margin-left: 5px;
}

.contactForm {
    background: white;
    padding: 20px 10px;
}

.Contact input[type="text"], .Contact textarea {
    width: 100%;
    border: none;
    background: #f2f2f2;
    padding: 12px 16px;
    margin-top: 18px;
    border-radius: 4px;
}

.Contact textarea {
    margin-bottom: 10px;
}

.contactForm > .col-lg-12:last-child {
    text-align: center;
}

.contactForm .buttonComponent { 
    background: #007bff;
}