/*==============================
Author: Brian Jerez
Github: BrianXS
Original url: https://drone.io/

Table of contents

+ Shared elements
+ Introduction | #introduction
  - NavBar
  - Feature
  - Customers
+ feature | #feature
+ Sub features | #sub-features
+ Language especific implementations | #implementations
+ Customer quote
+ Footer
+ Media Queries
===============================*/

/*==============================
Shared Components
===============================*/

:root {
    --black: #1e375a;
    --gray: #60748b;
    --blue: #2364d2;
    --dark-blue: #354d6e;
    --dark-sky-blue: #d1e3f6;
    --light-sky-blue: #e9f2fa;
}

body {
    font-family: 'Kanit', sans-serif;
    color: var(--gray);
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black);
    font-weight: 500;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

pre > code {
    font-size: 16px;
    line-height: 28px;
    padding: 25px !important;
    border-radius: 10px;
    background: #1d375a !important;
}
 
.container {
    max-width: 1200px;
    width: 88%;
    margin: 0 auto;
    display: flow-root;
    padding-top: 185px;
}

.bg-blue {
    background: #2364d2;
}

.bg-white {
    background: #ffffff;
}

.color-white { 
    color: white 
}

.color-black { 
    color: var(--black)
}

.btn {
    padding: 11px 30px;
    font-weight: 700;
    border-radius: 6px;
    text-transform: uppercase;
}

.btn-md {
    padding: 22px 30px;
    font-weight: 700;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-xl {
    padding: 20px 37px;
    font-weight: 700;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.center-text {
    text-align: center;
}

.hljs-attr {
    color: white !important;
}

.hljs-string, .hljs-number {
    color: #ed5267 !important;
}

/*==============================
+[Introduction | #introduction]
===============================*/

#introduction {
    padding-top: 35px;
    background-image: url("../img/introduction-bg.svg");
    background-size: 1920px;
}

#introduction .container {
    padding-top: 0px;
}

/*=====NavBar=====*/
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}

nav a {
    text-decoration: none;
    color: var(--dark-blue);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

nav #logo {
    font-weight: 700;
    font-size: 17.5px;
    letter-spacing: 2px;
    color: var(--black);
}

nav #logo img {
    display: inline;
    vertical-align: middle;
    margin-right: 9px;
}

nav div {
    padding-top: 5px;
}

nav div a {
    margin: 20px;
}

nav a:last-child {
    margin-top: -4px;
}

/*=====Feature=====*/

#intro-feature {
    display: flow-root;
}

#intro-feature div{
    width: 50%;
    float: left;
}

#intro-feature div p{
    font-size: 24px;
    max-width: 79%;
    line-height: 40px;
    margin-bottom: 30px;
}

#intro-feature div:first-child a {
    color: white;
    display: inline-block;
}

#intro-feature div:first-child a:last-child {
    color: var(--black);
}

#intro-feature div:last-child img {
    width: 100%;
}

/*=====Customers=====*/

#customers {
    display: flow-root;
}

#customers ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

#customers ul li{
    display: inline-block;
    margin: 0 20px 0px 20px;
}

#customers ul li img{
    width: 100%;
}


/*==============================
+[Features | .feature]
===============================*/

.feature {
    display: flow-root;
}

.feature .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-item {
    float: left;
    width: 50%;
}

.container .feature-item:first-child h2 {
    max-width: 500px;
    line-height: 50px;
}

.container .feature-item:first-child p {
    max-width: 550px;
    font-size: 20px;
    line-height: 36px;
}

.container .feature-item:last-child p {
    max-width: 450px;
    font-size: 20px;
    line-height: 36px;
}

.feature-item img {
    width: 80%;
}

.feature-item a {
    font-size: 20px;
    display: inline-block;
}

/*==============================
+[Sub features | .sub-features]
===============================*/

.sub-features .sub-feature-item {
    display: inline-block;
    float: left;
    width: 33.33%;
}

.sub-features .sub-feature-item object {
    width: 100px;
    margin-bottom: 5px;
}

.sub-features .sub-feature-item h3 {
    font-size: 23px;
}

.sub-features .sub-feature-item p {
    max-width: 80%;
    font-size: 16px;
    line-height: 29px;
}

/*=======================================================
+[Language specific implementations | #implementations]
=======================================================*/

#implementations {
    background-image: url("../img/implementation-bg.svg")
}

.implementation-header {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.implementation-header p {
    font-size: 20px;
    line-height: 36px;
}

.implementation-code {
    width: 75%;
    margin: 0 auto;
}

#implementations .implementation-code pre > code {
    border-radius: 10px 0 0 10px;
}

.implementation-code div {
    display: inline-block;
}

.implementation-code .tab {
    display: none;
    width: 69%;
    vertical-align: top;
}

.implementation-code .tab pre {
    margin-top: 0;
}

.implementation-code .tab pre code {
    height: 420px;
}

.implementation-code .tab:first-child {
    display: inline-block;
}

.implementation-code .tab-switch {
    width: 30%;
}

.implementation-code .tab-switch ul {
    padding: 0;
    height: 420px;
    background: #fdfeff;
    margin-top: 18px;
    margin-left: -6px;
}

.implementation-code .tab-switch ul li {
    list-style: none;
}

.implementation-code .tab-switch ul li button {
    width: 100%;
    padding: 22.10px 0px;
    background: transparent;
    border: none;
    font-weight: 400;
    font-size: 20px;
    outline: none;
    color: var(--dark-blue);
    text-transform: capitalize;
}

.implementation-code .tab-switch ul li:first-child button {
    border-radius: 0px 10px 0px 0px;
}

.implementation-code .tab-switch ul li:last-child button {
    border-radius: 0 0px 10px 0px;
}

.implementation-code .tab-switch ul li button:hover {
    cursor: pointer;
}


.active-button {
    background: var(--blue) !important;
    color: white !important;
    transition: 0.5s;
}
  