/*==============================
Author: Brian Jerez
Github: BrianXS
Original url: https://drone.io/

Table of contents

+ Shared elements
+ Introduction | #introduction
  - NavBar
  - Feature
  - Customers
+ First feature | #first-feature
+ Sub features | #sub-features
+ Language especific implementations | #implementations
+ Second feature | #second-feature
+ Third feature | #third-feature
+ Customer quote
+ Footer
+ Media Queries
===============================*/

/*==============================
Shared Components
===============================*/

:root {
    --black: #1e375a;
    --gray: #60748b;
    --blue: #2364d2;
    --dark-blue: #354d6e;
    --dark-sky-blue: #d1e3f6;
    --light-sky-blue: #e9f2fa;
}

body {
    font-family: 'Kanit', sans-serif;
    color: var(--gray)
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black);
    font-weight: 500;
}

h1 {
    font-size: 48px;
}

p {
    font-family: 'Ubuntu', sans-serif;
}
 
.container {
    max-width: 1200px;
    width: 88%;
    margin: 0 auto;
}

.bg-blue {
    background: #2364d2;
}

.bg-white {
    background: #ffffff;
}

.btn {
    padding: 11px 30px;
    font-weight: 700;
    border-radius: 6px;
    text-transform: uppercase
}

.btn-md {
    padding: 18px 30px;
    font-weight: 700;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-xl {
    padding: 11px 30px;
    font-weight: 700;
    border-radius: 6px;
    text-transform: uppercase
}


/*==============================
+[Introduction | #introduction]
===============================*/

#introduction {
    padding-top: 35px;
}

/*==============================
- NavBar
===============================*/
nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: var(--dark-blue);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

nav #logo {
    font-weight: 700;
    font-size: 17.5px;
    letter-spacing: 2px;
    color: var(--black);
}

nav #logo img {
    display: inline;
    vertical-align: middle;
    margin-right: 9px;
}

nav div {
    padding-top: 5px;
}

nav div a {
    margin: 20px;
}

nav a:last-child {
    margin-top: -4px;
}

/*==============================
- Feature
===============================*/

#intro-feature div{
    width: 50%;
}

#intro-feature div p{
    font-size: 24px;
    max-width: 79%;
    line-height: 45px;
    margin-bottom: 50px;
}

#intro-feature div:first-child a {
    color: white;
}